Project 3<br> Sean Javiya<br> Jake Wong<br> Timothy Jan<br>

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import pandas as pd
from sklearn.model_selection import train_test_split

In [19]:
data = pd.read_csv('bank-additional/bank-additional-full.csv', delimiter=';')
data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [30]:
train, test = train_test_split(data, test_size=0.1, train_size=0.9, random_state=(2021-10-25), shuffle=True, stratify=None)
test = test.drop(columns='duration')
train = train.drop(columns='duration')
y_test = test.pop('y')
y_train = train.pop('y')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
37215,38,admin.,single,university.degree,no,yes,no,cellular,aug,fri,1,999,0,nonexistent,-2.9,92.201,-31.4,0.881,5076.2
576,41,admin.,divorced,high.school,no,no,no,telephone,may,tue,4,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
14186,35,blue-collar,married,high.school,unknown,yes,yes,telephone,jul,mon,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1

In [36]:
categorical_test_data = test.copy(deep=True)
categorical_train_data = train.copy(deep=True)
categorical_test_data.drop(labels=[6:], axis=1)
categorical_test_data
#pd.get_dummies(test,columns= drop_first=True, dtype=None)
#test_df = pd.get_dummies(test[:6], columns=['job','marital','education','default','housing','loan'], drop_first=True)
#test_df

SyntaxError: invalid syntax (<ipython-input-36-8ec615f69999>, line 3)