Project 3<br> Sean Javiya<br> Jake Wong<br> Timothy Jan<br>

In [89]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB

In [90]:
data = pd.read_csv('bank-additional/bank-additional-full.csv', delimiter=';')
data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [91]:
train, test = train_test_split(data, test_size=0.1, train_size=0.9, random_state=(2021-10-25), shuffle=True, stratify=None)
test = test.drop(columns='duration')
train = train.drop(columns='duration')
y_test = test.pop('y')
y_train = train.pop('y')

In [92]:
categorical_test_data = test.iloc[:, :7]
categorical_train_data = train.iloc[:, :7]
#categorical_test_data.drop(lab, axis=1)
#categorical_test_data
#pd.get_dummies(test,columns= drop_first=True, dtype=None)
test_df = pd.get_dummies(categorical_test_data, drop_first=True) 
train_df = pd.get_dummies(categorical_train_data, drop_first=True) #are we sure this is what we need to do?

In [94]:
nbfit = CategoricalNB()
nbfit.fit(train_df, y_train)
nb_prediction = nbfit.predict(test_df)
#print(nb_prediction.len)
#print(y_test)
testscore = 0
for index, value in enumerate(y_test):
    if value == nb_prediction[index]:
        testscore += 1
#print(testscore/len(y_test))
percentage_score = testscore/len(y_test)
print("test percentage correct: ", percentage_score)

nb_train_prediction = nbfit.predict(train_df)
trainscore = 0
for index, value in enumerate(y_train):
    if value == nb_train_prediction[index]:
        trainscore += 1
#print(trainscore/len(y_train))
percentage_train_score = trainscore/len(y_train) 
print("train percentage correct: ", percentage_train_score)

test percentage correct:  0.8788540907987376
train percentage correct:  0.8818689470986538