Project 3<br> Sean Javiya<br> Jake Wong<br> Timothy Jan<br>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.neighbors import KNeighborsClassifier
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
data = pd.read_csv('bank-additional/bank-additional-full.csv', delimiter=';')
data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
train, test = train_test_split(data, test_size=0.1, train_size=0.9, random_state=(2021-10-25), shuffle=True, stratify=None)
test = test.drop(columns='duration')
train = train.drop(columns='duration')
y_test = test.pop('y')
y_train = train.pop('y')

In [4]:
categorical_test_data = test.iloc[:, :7]
categorical_train_data = train.iloc[:, :7]
#categorical_test_data.drop(lab, axis=1)
#print(categorical_test_data)
#pd.get_dummies(test,columns= drop_first=True, dtype=None)
test_df = pd.get_dummies(categorical_test_data, drop_first=True) 
train_df = pd.get_dummies(categorical_train_data, drop_first=True)

In [5]:
nbfit = CategoricalNB()
nbfit.fit(train_df, y_train)
nb_prediction = nbfit.predict(test_df)
#print(nb_prediction.len)
#print(y_test)
testscore = 0
for index, value in enumerate(y_test):
    if value == nb_prediction[index]:
        testscore += 1
#print(testscore/len(y_test))
percentage_score = testscore/len(y_test)
print("test percentage correct: ", percentage_score)

nb_train_prediction = nbfit.predict(train_df)
trainscore = 0
for index, value in enumerate(y_train):
    if value == nb_train_prediction[index]:
        trainscore += 1
#print(trainscore/len(y_train))
percentage_train_score = trainscore/len(y_train) 
print("train percentage correct: ", percentage_train_score)

test percentage correct:  0.8788540907987376
train percentage correct:  0.8818689470986538

In [6]:
#print(data.age)
unique_ages = len(set(data.age))
print("There are ", unique_ages, " categories for age in the entire data.  This is unreasonable.")

There are  78  categories for age in the entire data.  This is unreasonable.

In [7]:
#for i in range(len(categorical_test_data)):
#    match int(int(categorical_test_data.age[i:i+1])/10):
#        case 1:
#            categorical_test_data.age[i:i+1] == 'teen'
#        case 2:
#            categorical_test_data.age[i:i+1] == 'twenty'

age_dict = {1:"tens",2:"twenties",3:"thirties",4:"forties",5:"fifties",6:"sixties",7:"seventies",8:"eighties",9:"nineties"}
for ind in categorical_test_data.index:
    decade_value = int(categorical_test_data['age'][ind]/10)
    categorical_test_data['age'][ind] = age_dict[decade_value]
#    if int(int(categorical_test_data.age[i:i+1])/10) == 1
#        categorical_test_data.age[i:i+1] == 'teen'
for ind in categorical_train_data.index:
    decade_value = int(categorical_train_data['age'][ind]/10)
    categorical_train_data['age'][ind] = age_dict[decade_value]
#categorical_test_data        
test_df_generations = pd.get_dummies(categorical_test_data, drop_first=True)
train_df_generations = pd.get_dummies(categorical_train_data, drop_first=True)
#train_df_generations

In [8]:
test_df_generations['age_nineties'] = 0 #preprocessing to add column of 0's for equal number of columns

In [9]:
nbfit = CategoricalNB()
nbfit.fit(train_df_generations, y_train)
nb_prediction = nbfit.predict(test_df_generations)
#print(nb_prediction.len)
#print(y_test)
testscore = 0
for index, value in enumerate(y_test):
    if value == nb_prediction[index]:
        testscore += 1
#print(testscore/len(y_test))
percentage_score_generations = testscore/len(y_test)
print("test percentage correct: ", percentage_score_generations)

nb_train_prediction = nbfit.predict(train_df_generations)
trainscore = 0
for index, value in enumerate(y_train):
    if value == nb_train_prediction[index]:
        trainscore += 1
#print(trainscore/len(y_train))
percentage_train_score_generations = trainscore/len(y_train) 
print("train percentage correct: ", percentage_train_score_generations)

test percentage correct:  0.6448167030832727
train percentage correct:  0.8808168550540884

In [10]:
categorical_test_data_knn = test.iloc[:, :7]
categorical_train_data_knn = train.iloc[:, :7]
test_df_knn = pd.get_dummies(categorical_test_data_knn, drop_first=True) 
train_df_knn = pd.get_dummies(categorical_train_data_knn, drop_first=True)
KNNfit = KNeighborsClassifier()
KNNfit.fit(train_df_knn, y_train)
kn_prediction = KNNfit.predict(test_df_knn)
testscore = 0
for index, value in enumerate(y_test):
    if value == kn_prediction[index]:
        testscore += 1
#print(testscore/len(y_test))
percentage_score_knn = testscore/len(y_test)
print("test percentage correct: ", percentage_score_knn)

kn_train_prediction = KNNfit.predict(train_df_knn)
trainscore = 0
for index, value in enumerate(y_train):
    if value == kn_train_prediction[index]:
        trainscore += 1
#print(trainscore/len(y_train))
percentage_train_score_knn = trainscore/len(y_train) 
print("train percentage correct: ", percentage_train_score_knn)

test percentage correct:  0.8771546491866958
train percentage correct:  0.8903935903315439

In [20]:
counts = y_test.value_counts().to_dict()
print(counts)
testscore = 0
for index in range(len(kn_prediction)):
    if kn_prediction[index] == 'no':
        testscore += 1
#print(testscore/len(y_test))
percentage_score_knn = testscore/len(y_test)
print("test percentage correct if we assume there are no subscribed customers: ", percentage_score_knn)

{'no': 3646, 'yes': 473}
test percentage correct if we assume there are no subscribed customers:  0.965768390386016